<template name='startScreen'>
    <div class='screen-container'>
        <div class='screen-content'>
            <div>
                <p class="heading">Innox</p>
                <p class="secondary-text">food counter</p>
            </div>

            <div>
                <p>Monthly Bill Generator</p>
            </div>
            <div class="welcome-div">
                <p class="welcome-content"><b>WELCOME</b></p>
            </div>
            <div class="loading-div">
                <img class="loading-img" src="/images/loading.gif" />
            </div>
        </div>
    </div>
</template>