<template name='monthlyBill'>
    <div>
        <div class="form-container">
            <div class='row'>
                <form class='form-horizontal'>
                    <div class='col-xs-8 col-xs-push-2'>

                        <div class='form-group'>
                            <label class="control-label">Select Range</label>

                            <div class="datepicker-container">
                                <input type="text" class="input-sm datepicker form-control"
                                       id="startDate">

                                <p>to</p>
                                <input type="text" class="input-sm datepicker form-control"
                                       id="endDate">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class='control-label'>Select Employee</label>

                            <div>
                                <select class="form-control" id="empId">
                                    {{#each _employees}}
                                    <option value="{{_id}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div>
                            <button type='submit' class="btn btn-primary btn-xs">Generate Bill</button>
                        </div>
                    </div>
                </form>
            </div>
            {{#if showBill}}
            <div class="row bill-container">
                <div class="col-xs-12">
                    <div class="row bill-header">
                        <div class="col-xs-4 date-column">
                            <label>Date</label>
                        </div>
                        <div class="col-xs-4 price-column">
                            <label>Expenditure</label>
                        </div>
                    </div>


                    {{#each expenditure}}
                    <div class="row bill-row">
                        <div class="col-xs-4 date-column">
                            <label>{{date}}</label>
                        </div>
                        <div class="col-xs-4 price-column">
                            <label>Rs. {{amount}}</label>
                        </div>
                    </div>
                    {{/each}}

                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row bill-header">
                        <div class="col-xs-4 date-column">
                            <label>Total</label>
                        </div>
                        <div class="col-xs-4 price-column">
                            <label>Rs. {{total}}</label>
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>

</template>